<launch>
        <node pkg="color_pc" type="filter_node" name="filter_node" args="true" output="screen" />
	<node pkg="color_pc" type="integral_node" name="integral_node" args="false" output="screen">
		<rosparam file="$(find color_pc)/config/param2.yaml" command="load"/>	
	</node>
	<node pkg="rviz" type="rviz" name="rviz_integral" args="-d $(find color_pc)/config/show.rviz" required="true" />
</launch>
